body {
  background: url("../img/pokemons.jpg") no-repeat fixed;
  background-size: cover;
}

.content {
  width: 100vw;
  height: 100%;
  padding: 1rem;
  background-color: transparent;

}

.content h1 {
  color: var(--secondary-color);
}

.pokemon_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.pokemon .number {
  color: var(--secondary-color);
  text-align: right;
  opacity: 0.3;
  font-size: var(--number-font-size);
}

.pokemon .name {
  color: var(--text-color);
  text-transform: capitalize;
}

/* Aside list (Pokemon types) */
.pokemon .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .details .types .type {
  /* background-color: var(--bg-color-type); */
  color: var(--primary-color);
  padding: var(--button-padding);
  margin: 0.25rem 0;
  border-radius: var(--border-radius);
  font-size: 0.625rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .details img {
  max-width: 100%;
  height: 100px;
}

/* Pagination Section */
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.pagination .button {
  background-color: #6c79db;
  color: var(--text-color);
  margin: .5rem 0;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--button-font-size);

}

/* Medias Queries */

@media screen and (min-width: 375px) {
  .pokemon_list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemon_list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .content {
    width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: var(--border-radius);
    background-color: #ffffff4d;
  }

  .pokemon_list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pokemon .number {
    font-size: 1rem;
  }

  /* Pagination Section */
  .pagination .button {
    cursor: pointer;
  }
}


/* Pokemon Background Color */
.normal {
  /* background-color: #9e9e71; */
  background-image: linear-gradient(to top, #000, #9e9e71)
}
.fire {
  /* background-color: #f67639; */
  background-image: linear-gradient(to top, #000, #f67639);
}
.water {
  /* background-color: #5480e5; */
  background-image: linear-gradient(to top, #000, #5480e5);
}
.grass {
  /* background-color: #62c254; */
  background-image: linear-gradient(to top, #000, #62c254);
}
.electric {
  /* background-color: #fdcb44; */
  background-image: linear-gradient(to top, #000, #fdcb44)
}
.ice {
  /* background-color: #85ced1; */
  background-image: linear-gradient(to top, #000, #85ced1)
}
.ground {
  /* background-color: #e2b968; */
  background-image: linear-gradient(to top, #000, #e2b968)
}
.flying {
  /* background-color: #9d80e9; */
  background-image: linear-gradient(to top, #000, #9d80e9)
}
.poison {
  /* background-color: #9d338f; */
  background-image: linear-gradient(to top, #000, #9d338f)
}
.fighting {
  /* background-color: #c12c29; */
  background-image: linear-gradient(to top, #000, #c12c29)
}
.psychic {
  /* background-color: #ff4d7e; */
  background-image: linear-gradient(to top, #000, #ff4d7e)
}
.dark {
  /* background-color: #6a4e47; */
  background-image: linear-gradient(to top, #000, #6a4e47)
}
.rock {
  /* background-color: #9eb136; */
  background-image: linear-gradient(to top, #000, #9eb136)
}
.bug {
  /* background-color: #9eb136; */
  background-image: linear-gradient(to top, #000, #9eb136)
}
.ghost {
  /* background-color: #644b8b; */
  background-image: linear-gradient(to top, #000, #644b8b)
}
.steel {
  /* background-color: #a9a8c2; */
  background-image: linear-gradient(to top, #000, #a9a8c2)
}
.dragon {
  /* background-color: #6521e9; */
  background-image: linear-gradient(to top, #000, #6521e9)
}
.fairy {
  /* background-color: #ed97b1; */
  background-image: linear-gradient(to top, #000, #ed97b1)
}
